doctype html
html
    head
    body
        div
            | don't reply for this email, this is only for test
            br
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) Inoxoft course Node.js